<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062997350750-vn7dkv6p1tgbd1bn3fj1d9qg0p9khuum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062997350750-vn7dkv6p1tgbd1bn3fj1d9qg0p9khuum</string>
	<key>API_KEY</key>
	<string>AIzaSyBdsqpBDof4urwRTwrYaOo8U_mJrLUCs2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1062997350750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.absbanking.app</string>
	<key>PROJECT_ID</key>
	<string>absbanking-25109</string>
	<key>STORAGE_BUCKET</key>
	<string>absbanking-25109.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062997350750:ios:02526dfb41e509f4</string>
	<key>DATABASE_URL</key>
	<string>https://absbanking-25109.firebaseio.com</string>
</dict>
</plist>